body > header:first-of-type {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background-image: url("../images/header-background.png");
  background-color: rgb(172, 71, 5);
  height: 30rem;
  width: 100%;
}

.avatar {
  text-align: center;
  margin: auto;
  margin-bottom: 0;
  width: 100%;
}

.avatar-name {
  color: whitesmoke;
  font-family: "Bungee";
  margin-top: 0;
}
