@use 'base';

body > header:first-of-type {
  background-image: url("../images/header-background.png");
  height: 30rem;
  width: 100%;
}

@mixin text-align($property) {
  text-align: $property;
}

#avatar img {
  padding-top: 2em;
  width: 18rem;
}

#avatar {
  @include text-align(center);
  margin-top: 0;
}

#avatar-name {
  margin-top: 0;
  transform: translateY(-1em);
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  body > header:first-of-type {
    position: fixed;
    top: 150px;
    left: 0;
    margin: 3rem;
    width: 35%;
    z-index: 5;
  }
}
