@use 'base';

body > header:first-of-type {
  background-image: url("../images/header-background.png");
  height: 30rem;
  width: 100%;
}


@mixin text-align($property) {
  text-align: $property;
}

.avatar {
  @include text-align(center);
  padding-top: 2em;
  width: 100%;
}

.avatar-name {
  margin-top: 0;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  body > header:first-of-type {
    width: 35%;
    margin-left: auto;
    margin-top: 10rem;
  }
}
