header {
  background-image: url("../images/header-background.png");
  background-color: rgb(172, 71, 5);
  height: 500px;
  width: 100%;
}

.avatar {
  position: relative;
  text-align: center;
  top: 30%;
}

.avatar-name {
  top: 23%;
  color: whitesmoke;
  font-family: "Bungee";
}