nav {
  position: fixed;
  height: 120px;
  width: 100vw;
  z-index: 1;
  background-color: #4056a1;
  padding: 1.5em;
  color: whitesmoke;
}

#logo {
  font-family: "Bungee";
  font-size: 2.0em;
  float: left;
}

#compose {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.5em;
  float: right;
  margin-top: 0.1em
  
}
