nav {
  display: -webkit-flex;
  display: flex;
  height: 9rem;
  z-index: 1;
  background-color: #4056a1;
  padding: 1.5em;
  color: whitesmoke;
  width: 100%;
}

#compose > div {
  text-align: center;
  padding: 0.2em;
}

#compose:hover > div {
  transform: translateY(10px);
}

#logo {
  font-family: "Bungee";
  font-size: 2em;
}

#compose:hover div {
  transform: translateY(12px);
}

#compose {
  font-family: "Source Sans Pro";
  margin-left: auto;
  font-weight: 400;
  font-size: 1.3em;
  color: whitesmoke;
  float: right;
  transform: translateY(-15px);
  margin-bottom: 1em;
  background-color: #4056a1;
  border: none;
  outline: none;
}