@use 'base';

nav {
  display: -webkit-flex;
  display: flex;
  height: 9rem;
  z-index: 1;
  padding: 1.5em;
  width: 100%;

  span {
    font-size: 2em;
  }
}

#compose {
  margin-left: auto;
  font-weight: 400;
  font-size: 1.3em;
  float: right;
  transform: translateY(-15px);
  margin-bottom: 1em;
  border: none;
  outline: none;

  div {
    margin-top: 0.1em;
    text-align: center;
    padding: 0.2em;
  }
  &:hover {
    text-shadow: 4px 4px 4px #291700;
  }
}

#bounce {
  -moz-animation: bounce 1.2s infinite;
  -webkit-animation: bounce 1.2s infinite;
  animation: bounce 1.2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 680px) {
  #compose {
    font-size: 1em;
    transform: translateX(2em);
    transform: translateY(-0.5em);
    margin-right: 0em;
  }
  nav {
    padding: 0.5em;
    padding-top: 1.5em;
  }
}
