nav {
  position: fixed;
  height: 150px;
  width: 100vw;
  z-index: 1;
  background-color: #4056a1;
  padding: 1.5em;
  color: whitesmoke;
}

#compose > div {
  text-align: center;
  padding: 0.2em;
}

#compose:hover > div {
  transform: translateY(10px);
}

#logo {
  font-family: "Bungee";
  font-size: 2em;
  float: left;
}

#compose {
  position: relative;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.3em;
  float: right;
  transform: translateY(-120px);
  margin-bottom: 1em;
  background-color: #4056a1;
  border: none;
  outline: none;
}
