form {
  border-bottom: 4px solid darkslategray;
  font-size: 1.3em;
  position: relative;
  margin-top: 4%
}

#tweet-text {
  background: transparent;
  border-style: none;
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  margin-bottom: -0.5em
}

button,
.counter {
  position: absolute;
  top: 150%;
  font-family: "Bungee"
}


button {
  left: 0;
  background-color: royalblue;
  color: whitesmoke;
  border: 1px solid black;
  font-size: 1.1em
}

.counter {
  right: 0;
}

::placeholder {
  font-style: italic;
}
