form {
  border-bottom: 0.3rem solid darkslategray;
  position: relative;
  margin-top: 4%;
}

#tweet-text {
  background: transparent;
  border-style: none;
  border: none;
  resize: none;
  outline: none;
  width: 100%;
}

button,
.counter {
  position: absolute;
  top: 150%;
  font-family: "Bungee";
}

button {
  left: 0;
  background-color: royalblue;
  color: whitesmoke;
  border: 2px solid black;
  padding: 0.2em 0.6em;
}

.counter {
  right: 0;
  font-size: 1.1em;
}

::placeholder {
  font-style: italic;
}

.invalid {
  color: red;
}
