.tweet header {
  padding-bottom: 1.6rem;
  font-size: 2.4rem;
}

#tweet-list {
  position: absolute;
  margin-top: 5em;
  width: 100%;
}

.tweet {
  margin-bottom: 4rem;
  border: 0.3rem solid darkslategray;
  padding: 2.2rem;
}

.tweet p {
  font-weight: 600;
  margin-bottom: 3.7rem;
  margin-top: 3rem;
  overflow-wrap: break-word;
  text-align: center;
}

.tweet footer {
  border-top: 0.3rem solid darkslategray;
  padding-top: 1rem;
  font-size: 1.4rem;
  padding-left: 0.6rem;
  width: 100%;
}

.tweet footer span {
  margin-left: 0.3rem;
}

.tweet header img {
  font-size: 2.5rem;
  padding-right: 1.2rem;
  transform: translateY(-5px);
}

.name {
  position: absolute;
}

#tweet-icons {
  float: right;
  padding-left: 0.5rem;
  margin-right: 0.6rem;
  font-size: 1.4rem;
}

.tweet:hover {
  box-shadow: 0.7rem 1.1rem rgba(86, 54, 172, 0.13);
  text-shadow: 1.1px 1.1px;
  transform: skewX(0.5deg) skewY(0.05deg);
}

.handle {
  display: none;
  float: right;
  color: rgba(74, 42, 160, 0.24);
}

.tweet:hover .handle {
  display: inline;
}
